ilw-section-nav {

    a {
        color: var(--ilw-section-nav--color);
        text-decoration: var(--ilw-link--focused-background-color);
        display: block;
        padding-top: var(--ilw-section-nav--item--padding-top);
        padding-right: var(--ilw-section-nav--item--padding-right);
        padding-bottom: var(--ilw-section-nav--item--padding-bottom);

        align-content: center;
        position: relative;


        &[aria-current="page"] {
            color: var(--ilw-section-nav--color--active);

            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                border-top: var(--ilw-section-nav--current--size) solid transparent;
                border-bottom: var(--ilw-section-nav--current--size) solid transparent;
                border-left: var(--ilw-section-nav--current--size) solid currentColor;
                top: calc(var(--ilw-section-nav--item--height) / 2 - var(--ilw-section-nav--current--size) - 1px);
                margin-left: var(--ilw-section-nav--current--left);
            }
        }

        &:hover {
            text-decoration: underline;
            color: var(--ilw-section-nav--color--hover);
        }

        &:focus {
            color: var(--ilw-link--focus-color);
            background-color: var(--ilw-link--focus-background-color);
            outline: var(--ilw-link--focus-outline);
        }

        &.ilw-section-nav--root {
            font-size: var(--ilw-section-nav--root--font-size);
            background: var(--ilw-section-nav--root--background);
            font-weight: var(--ilw-section-nav--root--font-weight);
        }
    }

    /*
    This is the best way I could come up with to keep increasing the indent while:
     - not modifying the host page's DOM
     - ensuring the `a` tag extends full width for styling
     - allowing for extra div elements in the DOM from CMSes
     - not being overridden by less specific global styles
     */

    ilw-section-nav {
        a {
            padding-left: calc(var(--ilw-section-nav--item--padding-left) + var(--ilw-section-nav--level-padding));
        }

        ilw-section-nav {
            a {
                padding-left: calc(var(--ilw-section-nav--item--padding-left)
                + var(--ilw-section-nav--level-padding)
                + var(--ilw-section-nav--level2-padding));
            }

            ilw-section-nav {
                a {
                    padding-left: calc(var(--ilw-section-nav--item--padding-left)
                    + var(--ilw-section-nav--level-padding) * 2
                    + var(--ilw-section-nav--level2-padding));
                }

                ilw-section-nav {
                    a {
                        padding-left: calc(var(--ilw-section-nav--item--padding-left)
                        + var(--ilw-section-nav--level-padding) * 3
                        + var(--ilw-section-nav--level2-padding));
                    }

                    ilw-section-nav {
                        a {
                            padding-left: calc(var(--ilw-section-nav--item--padding-left)
                            + var(--ilw-section-nav--level-padding) * 4
                            + var(--ilw-section-nav--level2-padding));
                        }

                        ilw-section-nav {
                            a {
                                padding-left: calc(var(--ilw-section-nav--item--padding-left)
                                + var(--ilw-section-nav--level-padding) * 5
                                + var(--ilw-section-nav--level2-padding));
                            }

                            ilw-section-nav {
                                a {
                                    padding-left: calc(var(--ilw-section-nav--item--padding-left)
                                    + var(--ilw-section-nav--level-padding) * 6
                                    + var(--ilw-section-nav--level2-padding));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

ilw-section-nav[mode="manual"] {
    a {
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: var(--ilw-section-nav--line-height);
        font-weight: var(--ilw-section-nav--font-weight);

        li {
            font-size: var(--ilw-section-nav--level0-font-size);

            ul li {
                font-size: var(--ilw-section-nav--level1-font-size);
            }
        }
    }

    & > ul {
        & > li > a {
            border-top: var(--ilw-section-nav--level1-border);

            &.ilw-section-nav--root {
                border-top: none;
            }
        }

        ul {
            font-size: var(--ilw-section-nav--level1-font-size);
        }
    }

    /*
    This is the best way I could come up with to keep increasing the indent while:
     - not modifying the host page's DOM
     - ensuring the `a` tag extends full width for styling
     - allowing for extra div elements in the DOM from CMSes
     */

    ul {
        a {
            padding-left: var(--ilw-section-nav--item--padding-left);
        }

        ul {
            a {
                padding-left: calc(var(--ilw-section-nav--item--padding-left)
                + var(--ilw-section-nav--level-padding)
                );
            }

            ul {
                a {
                    --ilw-section-nav--padding-multiplier: 1;
                    padding-left: calc(var(--ilw-section-nav--item--padding-left)
                    + var(--ilw-section-nav--level-padding) * var(--ilw-section-nav--padding-multiplier)
                    + var(--ilw-section-nav--level2-padding));
                }

                ul {
                    a {
                        --ilw-section-nav--padding-multiplier: 2;
                    }

                    ul {
                        a {
                            --ilw-section-nav--padding-multiplier: 3;
                        }

                        ul {
                            a {
                                --ilw-section-nav--padding-multiplier: 4;
                            }

                            ul {
                                a {
                                    --ilw-section-nav--padding-multiplier: 5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        & > ul {
            display: none;
        }

        &[open="true"] > ul {
            display: block;
        }
    }
}